<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="emppoint" method="post">
       {% csrf_token %}
       <select name="empid">
        {% for i in data %}
        <option value="{{i.id}}">{{i.firstname}}</option>
        {% endfor %}
       </select>
       points<input type="number" name="points">
       <input type="submit" value="add">
    </form>
</body>
</html>