<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/regupdate/{{edit.id}}" method="post">
        {% csrf_token %}
       name: <input type="text" name="name" id="" value="{{edit.name}}"><br><br>
       age: <input type="number" name="age" id="" value="{{edit.age}}"><br><br>
       email: <input type="email" name="email" id="" value="{{edit.email}}"><br><br>
       <input type="submit" value="update">
    </form>
</body>
</html>